<a href="https://colab.research.google.com/github/patoowp13/patricio-marrone/blob/main/practica_avanzada_coder2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DataSet Flights üõ¨**

In [ ]:
import pandas as pd
flight = pd.read_csv('flight_nb.csv')
flight.head()

,flight_number,airline_name,departure_airport,departure_city,departure_country,departure_time,arrival_airport,arrival_city,arrival_country,duration_hours,pilot_name,co_pilot_name,passenger_count,cargo_weight,fuel_capacity,departure_gate,arrival_gate,flight_status,ticket_price
0,IB4174,Iberia,Adolfo Su√°rez Madrid‚ÄìBarajas,Bussum,Netherlands,12:35 AM,Charles de Gaulle,Miandrarivo,Madagascar,13.44,Raven Halbard,Haskel Treace,327.0,146.17,313.34,6.0,13.0,delayed,8962.25
1,NH6825,All Nippon Airways,Haneda,Manjacaze,Mozambique,8:58 AM,Kuala Lumpur International,Chengjiao,China,9.85,Lorri Dashwood,Francklyn Rojahn,94.0,454.40,9978.58,12.0,12.0,delayed,3021.94
2,BA7908,British Airways,Heathrow,Jun√≠n,Argentina,10:33 AM,Charles de Gaulle,Zab≈Çocie,Poland,22.69,Brion Forster,Arielle Yate,349.0,281.57,6902.25,11.0,1.0,cancelled,3592.14
3,EK8320,Emirates,Dubai International,Kukuluk,Indonesia,4:37 PM,Hamad International,Castanheira,Portugal,12.72,Benni Yegoshin,Benyamin Claworth,279.0,130.55,6981.69,16.0,7.0,on-time,9498.40
4,SQ8449,Singapore Airlines,Changi,Bukor,Serbia,6:32 AM,Cairo International,Villa Verde,Philippines,1.69,Stephine Messenbird,Tabbitha Melsom,359.0,204.55,8182.71,5.0,13.0,cancelled,5840.09

*Promedio de horas de vuelo y desvio estandar.*

In [ ]:
import pandas as pd
flight = pd.read_csv('flight_nb.csv')
import numpy as np
mean_dhour = np.mean(flight['duration_hours'])
print("mean duration hours flight:",mean_dhour)
std_dhour = np.std(flight['duration_hours'])
print("desviation standard duration hours flight:",std_dhour)

mean duration hours flight: 12.711084999999999
desviation standard duration hours flight: 6.710995959824075

*Filtrado por horas de vuelo*

In [ ]:
half_day= flight[flight['duration_hours']>=12]
half_day.head()

,flight_number,airline_name,departure_airport,departure_city,departure_country,departure_time,arrival_airport,arrival_city,arrival_country,duration_hours,pilot_name,co_pilot_name,passenger_count,cargo_weight,fuel_capacity,departure_gate,arrival_gate,flight_status,ticket_price
0,IB4174,Iberia,Adolfo Su√°rez Madrid‚ÄìBarajas,Bussum,Netherlands,12:35 AM,Charles de Gaulle,Miandrarivo,Madagascar,13.44,Raven Halbard,Haskel Treace,327.0,146.17,313.34,6.0,13.0,delayed,8962.25
2,BA7908,British Airways,Heathrow,Jun√≠n,Argentina,10:33 AM,Charles de Gaulle,Zab≈Çocie,Poland,22.69,Brion Forster,Arielle Yate,349.0,281.57,6902.25,11.0,1.0,cancelled,3592.14
3,EK8320,Emirates,Dubai International,Kukuluk,Indonesia,4:37 PM,Hamad International,Castanheira,Portugal,12.72,Benni Yegoshin,Benyamin Claworth,279.0,130.55,6981.69,16.0,7.0,on-time,9498.40
6,SK9763,SAS Scandinavian,Copenhagen Airport,San Diego,Colombia,5:19 AM,Charles de Gaulle,Corona,United States,19.44,Ardyth Archell,Mandi Joiner,247.0,66.15,1940.24,6.0,12.0,on-time,6452.65
7,AI3868,Air India,Indira Gandhi International,Taiping,China,9:00 PM,Chhatrapati Shivaji International,Joypur HƒÅt,Bangladesh,20.25,Mick Telezhkin,Devina Trammel,377.0,333.05,5788.54,10.0,8.0,delayed,7471.09

*Filtrado por gastos del ticket*

In [ ]:
expensive_ticket = flight[flight["ticket_price"]>=4000]
print("Cantidad de ticket que superan los 4000 usd:",expensive_ticket["ticket_price"].count())

Cantidad de ticket que superan los 4000 usd: 1209

*Ingresos y promedio de gastos en vuelos por pa√≠s*

In [ ]:
precio_destino = flight.groupby("departure_country")["ticket_price"].agg(['mean'])
print("Top 10 pa√≠ses con mayor promedio del valor del ticket :",precio_destino.sort_values(by='mean', ascending=False).head(10))

Top 10 pa√≠ses con mayor promedio del valor del ticket :                                       mean
departure_country
Namibia                           9937.000
American Samoa                    9797.000
Madagascar                        9466.270
Martinique                        9417.280
Oman                              9189.910
Democratic Republic of the Congo  9119.500
French Polynesia                  9029.000
Ecuador                           9021.845
Qatar                             8913.500
Paraguay                          8551.020

*Llenar valores nulos de columnas*

In [ ]:
fillna0= flight.fillna(0)
print(fillna0)
fill_mean= flight["fuel_capacity"].fillna(flight["fuel_capacity"].mean())
print(fill_mean)

     flight_number        airline_name             departure_airport  \
0           IB4174              Iberia  Adolfo Su√°rez Madrid‚ÄìBarajas
1           NH6825  All Nippon Airways                        Haneda
2           BA7908     British Airways                      Heathrow
3           EK8320            Emirates           Dubai International
4           SQ8449  Singapore Airlines                        Changi
...            ...                 ...                           ...
1996        LH6645           Lufthansa             Frankfurt Airport
1997        NZ7915     Air New Zealand              Auckland Airport
1998        SK4327    SAS Scandinavian            Copenhagen Airport
1999        SK4970    SAS Scandinavian            Copenhagen Airport
2000             0                   0                             0

     departure_city departure_country departure_time  \
0            Bussum       Netherlands       12:35 AM
1         Manjacaze        Mozambique        8:58 AM
2             Jun√≠n         Argentina       10:33 AM
3           Kukuluk         Indonesia        4:37 PM
4             Bukor            Serbia        6:32 AM
...             ...               ...            ...
1996     Candel√°ria          Portugal       10:28 AM
1997    Xiaojiangba             China        6:32 PM
1998        Laidian             China       11:56 AM
1999  Vnanje Gorice          Slovenia        3:45 AM
2000              0                 0              0

                 arrival_airport arrival_city arrival_country  duration_hours  \
0              Charles de Gaulle  Miandrarivo      Madagascar       13.440000
1     Kuala Lumpur International    Chengjiao           China        9.850000
2              Charles de Gaulle     Zab≈Çocie          Poland       22.690000
3            Hamad International  Castanheira        Portugal       12.720000
4            Cairo International  Villa Verde     Philippines        1.690000
...                          ...          ...             ...             ...
1996            Brisbane Airport   Eskilstuna          Sweden       14.000000
1997           Melbourne Airport        V√§xj√∂          Sweden        7.000000
1998           Charles de Gaulle        Argel         Armenia        2.000000
1999           Charles de Gaulle       Bromma          Sweden        4.000000
2000                           0            0               0       12.711085

                pilot_name         co_pilot_name  passenger_count  \
0            Raven Halbard         Haskel Treace            327.0
1           Lorri Dashwood      Francklyn Rojahn             94.0
2            Brion Forster          Arielle Yate            349.0
3           Benni Yegoshin     Benyamin Claworth            279.0
4      Stephine Messenbird       Tabbitha Melsom            359.0
...                    ...                   ...              ...
1996        Katleen Bussel     Eleanor Shovelton            223.0
1997       Isabel Penniall  Giusto Van der Hoven            289.0
1998         Arv Rackstraw        Janine Ledgley            274.0
1999  Rochella Normanville       Waldemar Dorcey            157.0
2000                     0                     0              0.0

      cargo_weight  fuel_capacity  departure_gate  arrival_gate flight_status  \
0           146.17         313.34             6.0          13.0       delayed
1           454.40        9978.58            12.0          12.0       delayed
2           281.57        6902.25            11.0           1.0     cancelled
3           130.55        6981.69            16.0           7.0       on-time
4           204.55        8182.71             5.0          13.0     cancelled
...            ...            ...             ...           ...           ...
1996       8334.39        3782.47            14.0           1.0     Cancelled
1997       5605.00        1125.94            16.0          16.0     Cancelled
1998       6688.95        4118.77            24.0           2.0     Cancelled
1999        765.92        9656.62            17.0           2.0       Delayed
2000          0.00           0.00             0.0           0.0             0

      ticket_price
0          8962.25
1          3021.94
2          3592.14
3          9498.40
4          5840.09
...            ...
1996       2538.00
1997       7181.00
1998       5513.00
1999       5102.00
2000       7307.00

[2001 rows x 19 columns]
0        313.34000
1       9978.58000
2       6902.25000
3       6981.69000
4       8182.71000
           ...
1996    3782.47000
1997    1125.94000
1998    4118.77000
1999    9656.62000
2000    5070.79337
Name: fuel_capacity, Length: 2001, dtype: float64

**Practica Numpy**

In [ ]:
import numpy as np
array_uni = np.array([1, 2, 3, 4, 5])
print(array_uni)

[1 2 3 4 5]

In [ ]:
array_multi = np.array([[45, 12, 345], [4, 5, 6]])
print(array_multi)

[[ 45  12 345]
 [  4   5   6]]

In [ ]:
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([6, 7, 8, 9, 10])
arrsupr = np.concatenate((arr1,arr2))
print(arrsupr)
arr = np.arange(8)
arrsplit = np.split(arr,2)
print(arrsplit)
arrmult= np.multiply(arr1,arr2)
print(arrmult)
arr_concat= np.concatenate((arr1,arr2))
print(arr_concat)

[ 1  2  3  4  5  6  7  8  9 10]
[array([0, 1, 2, 3]), array([4, 5, 6, 7])]
[ 6 14 24 36 50]
[ 1  2  3  4  5  6  7  8  9 10]

In [ ]:
zeros = np.zeros((4,5))
ones = np.ones(4)
full = np.full(4,15458)
print(zeros)
print(ones)
print(full)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
[1. 1. 1. 1.]
[15458 15458 15458 15458]

In [ ]:
random_num = np.random.randint(50,100,size=20)
print("random num:",random_num)
mean_random= np.mean(random_num)
print("mean random:",mean_random)
median_random=np.median(random_num)
print("median random:",median_random)

random num: [92 80 96 74 58 60 92 69 85 96 95 62 92 69 65 76 76 89 70 75]
mean random: 78.55
median random: 76.0

In [ ]:
import pandas as pd
numeros= [12,44,58,55,124,68]
serie_numeros= pd.Series(numeros)
print(serie_numeros)

0     12
1     44
2     58
3     55
4    124
5     68
dtype: int64

In [ ]:
datos = {'a':1,'b':2,'c':3,'d': 4,'e': 5}
serie_datos = pd.Series(datos)
print(serie_datos)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
LaData = [[1,'roberto','pistola','adicto'],[3,'adalberto','no','trabjador'],[0,'asturio','cuchillo','alcohilico']]
columna = ['causas','nombre','arma','actividad']
Personas = pd.DataFrame(LaData, columns=columna)
Personas = Personas.set_index('nombre')
print(Personas)

           causas      arma   actividad
nombre
roberto         1   pistola      adicto
adalberto       3        no   trabjador
asturio         0  cuchillo  alcohilico

In [ ]:
flight['departure_country'] = flight['departure_country'].str.replace('United States', 'USA')
print(flight[flight['departure_country'] == 'USA'].head())

    flight_number        airline_name          departure_airport  \
67         UA3770     United Airlines  Los Angeles International
70         QF1344              Qantas             Sydney Airport
105        SQ7786  Singapore Airlines                     Changi
110        EK5144            Emirates        Dubai International
150        UA7729     United Airlines  Los Angeles International

    departure_city departure_country departure_time  \
67      Youngstown               USA        7:54 AM
70     New Orleans               USA       11:49 AM
105     Great Neck               USA        9:20 AM
110    Los Angeles               USA       10:08 AM
150         Toledo               USA        2:21 AM

                   arrival_airport arrival_city arrival_country  \
67             Cairo International     Khanabad     Afghanistan
70               Melbourne Airport     Richmond   United States
105  Beijing Capital International       Sofifi       Indonesia
110               Brisbane Airport   Dukuhsawah       Indonesia
150    San Francisco International      Malonty  Czech Republic

     duration_hours           pilot_name       co_pilot_name  passenger_count  \
67             6.49        Logan Donoher        Justinn Bale            285.0
70            18.40      Jayme Halburton  Marylinda Spurnier            342.0
105            9.99      Tawsha Medforth      Alika Delacote            327.0
110            3.26    Lacee Kinchington      Quentin Minker            236.0
150           16.91  Rochette O' Donohue       Carly Doorbar            100.0

     cargo_weight  fuel_capacity  departure_gate  arrival_gate flight_status  \
67         362.80        4691.54            19.0          10.0       delayed
70         335.85        1028.41            12.0          11.0     cancelled
105         43.63        8701.05             2.0           4.0     cancelled
110        240.92        4541.09             3.0           8.0       delayed
150        118.99        5259.22            16.0           7.0       on-time

     ticket_price
67        1405.49
70        5330.11
105       5060.77
110       8382.63
150       2198.99